body{
  background-color: grey;
}

.toDoList{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem;
}

button{
  font-size: 1.7rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.addButton{
  background-color: #3DED97;
}

.addButton:hover{
  background-color: #03C04A;
}

.cancelButton{
  background-color: lightgray;
}

.cancelButton:hover{
  background-color: #708090;
}

.deleteButton{
  background-color: #E3242B;
}

.deleteButton:hover{
  background-color: #9B1003;
}

.editButton{
  background-color: #E4CD05;
}

.editButton:hover{
  background-color: #D2B55B;
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  color: black;
}

ol{
  padding: 0;
}

li{
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: #708090;
  margin-bottom: 10px;
  border: 3px solid lightgray;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex: 1;
}

.deleteButton, .editButton{
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}

/* For animated button*/
.animatedButtonDiv {
  text-align: center;
  font-size: 0.8rem;
}

.icon-btn {
  width: 50px;
  height: 50px;
  border: 1px solid #cdcdcd;
  background: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}

.add-btn:hover {
  width: 120px;
}

.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 4px;
  width: 10px;
  top: calc(50% - 2px);
  background: #3DED97;
}

.add-btn::after {
  right: 14px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn::before {
  left: 14px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.icon-btn:focus {
  outline: none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
  font-family: 'Open Sans', sans-serif;
  color:grey;
  font-style:oblique;
}

.add-btn:hover::before,
.add-btn:hover::after {
  width: 4px;
  border-radius: 2px;
}

.add-btn:hover .btn-txt {
  opacity: 1;
}

.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  top: calc(50% - 10px);
  background: #3DED97;
  overflow: hidden;
}

.add-icon::before {
  left: 22px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.add-icon::after {
  right: 22px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
  left: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
  right: 15px;
  height: 4px;
  top: calc(50% - 2px);
}

/* End of animation button css */

/* Sectioning CSS */
.overdueSection, .upcomingSection, .completedSection {
  text-align: left;
  padding-left: 20px;
}

.overdueSection {
  border-bottom: 2px solid #E3242B;
  border-left: 2px solid #E3242B;
  border-bottom-left-radius: 2rem;
}

.upcomingSection {
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-bottom-left-radius: 2rem;
}

.completedSection {
  border-bottom: 2px solid #3DED97;
  border-left: 2px solid #3DED97;
  border-bottom-left-radius: 2rem;
}